name: Docker compose CI

on:
  push:
    branches: [ "prod" ]

jobs:
  compose:
    name: docker compose ci
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Compose docker for custom backend
      working-directory: ./docker-compose
      run: docker compose -f ./custom-backend.yml up -d --build --force-recreate